/* Elements */
header{
width:100%;
height:10vh;
display:inline;
border:0px;
padding:auto;
margin:auto;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: rgb(48, 110, 110);}

body {
  width:100%;
  height:auto;
  display:block;
  font-size: 11px;
  background-color: blanchedalmond;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}


footer{
  bottom:20px;
  width:100%;
  background-color: rgb(159, 115, 201);
  display:block;}



/* Classes */
.title{
  width:100%;
  font-size:  12px;
  background-color: rgba(100, 100, 100, 1);}

.topbar {
left:0px;
top:0px;
position:relative;
width:100%;
height:80px;
background-color: teal;}

.middle{
  left:10%;
  width:75%;
  display:block;
  background-color: blueviolet;
}

.headerButton{
height:40px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display:inline-flex;
background-color:rgb(159, 196, 196);
color:white;
padding:10px;
border:0px;
border-radius: 5%;}

.zone{
  width:100%;
  display:block;
  padding:1%;
  color:cornflowerblue;
  background-color: aqua;}

.middle{
  
  font-size:larger;
}

/* décor des boutons lors du click */
.buttonMouseOver {
  color: red;}

.tile{
background-color: black;
width:250px;
height:250px;
top:0%;
left: 0%;
padding:auto;
}


 .nextButton{
  right : 10%;
  height:40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display:inline-flex;
  background-color:rgb(159, 196, 196);
  color:white;
  padding:10px;
  border:0px;
  border-radius: 5%;}

  #stepCounter{
    background-color: black;
    color:white;
    padding:10px;
    border:0px;
    border-radius: 5%;
  }