body {
  max-width:100%;
  height:auto;
  display:block;
  font-size: 11px;
  font-family: Tahoma;
}

.title{
  font: size 12px;
  height:10vh;
  background-color: rgba(100, 100, 100, 1);
}

.topbar {
left:0px;
top:0px;
position:relative;
width:100%;
height:80px;
background-color: teal;
}

.headerButton{
height:40px;
font-family:Tahoma;
display:inline;
background-color: teal;
padding:10px;
margin: 10px;
border:0px;
}

.firstZone{
  display:block;
  position:relative;
  padding:1%;
  height: 50px;
  color:cornflowerblue;
}

/* décor des boutons lors du survol */
.buttonMouseOver {
  background-color: azure;
}
/* décor des boutons lors du click */