body {
  max-width:100%;
  height:auto;
  display:block;
  font-size: 11px;
  font-family: Tahoma;
}

.title{
  font: size 12px;
  height:10vh;
  top:auto;
  background-color: rgba(100, 100, 100, 1);
}

.topbar {
font-family:Tahoma;
display:block;
top:0px;
background-color:rgba(255,255,255,1);
color:white;
font-size:20px;
position:fixed;

}

