body {
  max-width:100%;
  height:auto;
  display:block;
  font-size: 11px;
  font-family: Tahoma;
}

.title{
  font: size 12px;
  height:10vh;
  top:auto;
  background-color: rgba(100, 100, 100, 1);
}

.topbar {
left:0px;
top:0px;
position:fixed;
background-color: teal;
}

.headerButton{
font-family:Tahoma;
display:block;
color:white;
font-size:20px;
}

